@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *, .mocha-mauve *, .frappe-mauve *, .macchiato-mauve *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

/* TODO: Change the palette in light mode */
:root {
    --radius: 0.65rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.723 0.219 149.579);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.723 0.219 149.579);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.723 0.219 149.579);
    --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.723 0.219 149.579);
}

.dark {
    --background: oklch(0.161 0.014 162.48);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.012 162.48);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.012 162.48);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.696 0.17 162.48);
    --primary-foreground: oklch(0.203 0.006 286.033);
    --secondary: oklch(0.274 0.012 162.48);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 162.48);
    --muted-foreground: oklch(0.705 0.015 162.48);
    --accent: oklch(0.274 0.012 162.48);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.547 0.12 162.48);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.012 162.48);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.696 0.17 162.48);
    --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
    --sidebar-accent: oklch(0.274 0.017 152.535);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.527 0.154 150.069);
}

.mocha-mauve {
    --radius: 0.625rem;
    --background: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
    --foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --card: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
    --card-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --popover: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
    --popover-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --primary: hsl(267 83.50515365600586% 80.98039031028748%); /* accent - Mauve */
    --primary-foreground: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
    --secondary: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
    --secondary-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --muted: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
    --muted-foreground: hsl(227 35.29411852359772% 80.0000011920929%); /* subtext1 */
    --accent: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
    --accent-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --destructive: hsl(343 81.25% 74.90196228027344%); /* red */
    --border: hsl(234 13.20754736661911% 31.176471710205078%); /* surface1 */
    --input: hsl(234 13.20754736661911% 31.176471710205078%); /* surface1 */
    --ring: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --chart-1: hsl(343 81.25% 74.90196228027344%); /* red */
    --chart-2: hsl(170 57.35294222831726% 73.33333492279053%); /* teal */
    --chart-3: hsl(217 91.86992049217224% 75.88235139846802%); /* blue */
    --chart-4: hsl(41 86.04651093482971% 83.13725590705872%); /* yellow */
    --chart-5: hsl(115 54.09836173057556% 76.07843279838562%); /* green */
    --sidebar: hsl(240 21.311475336551666% 11.96078434586525%); /* mantle */
    --sidebar-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --sidebar-primary: hsl(267 83.50515365600586% 80.98039031028748%); /* accent - Mauve */
    --sidebar-primary-foreground: hsl(240 21.052631735801697% 14.901961386203766%); /* base */
    --sidebar-accent: hsl(237 16.239316761493683% 22.94117659330368%); /* surface0 */
    --sidebar-accent-foreground: hsl(226 63.93442749977112% 88.03921341896057%); /* text */
    --sidebar-border: hsl(234 13.20754736661911% 31.176471710205078%); /* surface1 */
    --sidebar-ring: hsl(234 13.20754736661911% 31.176471710205078%); /* surface1 */
}

.frappe-mauve {
    --radius: 0.625rem;
    --background: hsl(229 18.644067645072937% 23.137255012989044%); /* base */
    --foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --card: hsl(229 18.644067645072937% 23.137255012989044%); /* base */
    --card-foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --popover: hsl(229 18.644067645072937% 23.137255012989044%); /* base */
    --popover-foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --primary: hsl(277 59.01639461517334% 76.07843279838562%); /* accent - Mauve */
    --primary-foreground: hsl(229 18.644067645072937% 23.137255012989044%); /* base */
    --secondary: hsl(230 15.584415197372437% 30.19607961177826%); /* surface0 */
    --secondary-foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --muted: hsl(230 15.584415197372437% 30.19607961177826%); /* surface0 */
    --muted-foreground: hsl(227 43.689319491386414% 79.8039197921753%); /* subtext1 */
    --accent: hsl(230 15.584415197372437% 30.19607961177826%); /* surface0 */
    --accent-foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --destructive: hsl(359 67.78523325920105% 70.78431248664856%); /* red */
    --border: hsl(227 14.73684161901474% 37.254902720451355%); /* surface1 */
    --input: hsl(227 14.73684161901474% 37.254902720451355%); /* surface1 */
    --ring: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --chart-1: hsl(359 67.78523325920105% 70.78431248664856%); /* red */
    --chart-2: hsl(172 39.22652006149292% 64.50980305671692%); /* teal */
    --chart-3: hsl(222 74.24242496490479% 74.11764860153198%); /* blue */
    --chart-4: hsl(40 62.043797969818115% 73.13725352287292%); /* yellow */
    --chart-5: hsl(96 43.90243887901306% 67.84313917160034%); /* green */
    --sidebar: hsl(231 18.81188154220581% 19.80392187833786%); /* mantle */
    --sidebar-foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --sidebar-primary: hsl(277 59.01639461517334% 76.07843279838562%); /* accent - Mauve */
    --sidebar-primary-foreground: hsl(229 18.644067645072937% 23.137255012989044%); /* base */
    --sidebar-accent: hsl(230 15.584415197372437% 30.19607961177826%); /* surface0 */
    --sidebar-accent-foreground: hsl(227 70.14925479888916% 86.86274290084839%); /* text */
    --sidebar-border: hsl(227 14.73684161901474% 37.254902720451355%); /* surface1 */
    --sidebar-ring: hsl(227 14.73684161901474% 37.254902720451355%); /* surface1 */
}

.latte-mauve {
    --radius: 0.625rem;
    --background: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
    --foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --card: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
    --card-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --popover: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
    --popover-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --primary: hsl(266 85.04672646522522% 58.03921818733215%); /* accent - Mauve */
    --primary-foreground: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
    --secondary: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
    --secondary-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --muted: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
    --muted-foreground: hsl(233 12.796208262443542% 41.372549533843994%); /* subtext1 */
    --accent: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
    --accent-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --destructive: hsl(347 86.66666746139526% 44.11764740943909%); /* red */
    --border: hsl(225 13.55932205915451% 76.86274647712708%); /* surface1 */
    --input: hsl(225 13.55932205915451% 76.86274647712708%); /* surface1 */
    --ring: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --chart-1: hsl(347 86.66666746139526% 44.11764740943909%); /* red */
    --chart-2: hsl(183 73.86363744735718% 34.50980484485626%); /* teal */
    --chart-3: hsl(220 91.4893627166748% 53.921568393707275%); /* blue */
    --chart-4: hsl(35 76.98412537574768% 49.41176474094391%); /* yellow */
    --chart-5: hsl(109 57.63546824455261% 39.803922176361084%); /* green */
    --sidebar: hsl(220 21.95121943950653% 91.96078181266785%); /* mantle */
    --sidebar-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --sidebar-primary: hsl(266 85.04672646522522% 58.03921818733215%); /* accent - Mauve */
    --sidebar-primary-foreground: hsl(220 23.076923191547394% 94.90196108818054%); /* base */
    --sidebar-accent: hsl(223 15.909090638160706% 82.74509906768799%); /* surface0 */
    --sidebar-accent-foreground: hsl(234 16.022099554538727% 35.49019694328308%); /* text */
    --sidebar-border: hsl(225 13.55932205915451% 76.86274647712708%); /* surface1 */
    --sidebar-ring: hsl(225 13.55932205915451% 76.86274647712708%); /* surface1 */
}

.macchiato-mauve {
    --radius: 0.625rem;
    --background: hsl(232 23.404255509376526% 18.431372940540314%); /* base */
    --foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --card: hsl(232 23.404255509376526% 18.431372940540314%); /* base */
    --card-foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --popover: hsl(232 23.404255509376526% 18.431372940540314%); /* base */
    --popover-foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --primary: hsl(267 82.69230723381042% 79.60784435272217%); /* accent - Mauve */
    --primary-foreground: hsl(232 23.404255509376526% 18.431372940540314%); /* base */
    --secondary: hsl(230 18.796992301940918% 26.07843279838562%); /* surface0 */
    --secondary-foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --muted: hsl(230 18.796992301940918% 26.07843279838562%); /* surface0 */
    --muted-foreground: hsl(228 39.21568691730499% 80.0000011920929%); /* subtext1 */
    --accent: hsl(230 18.796992301940918% 26.07843279838562%); /* surface0 */
    --accent-foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --destructive: hsl(351 73.9130437374115% 72.9411780834198%); /* red */
    --border: hsl(231 15.606936812400818% 33.92156958580017%); /* surface1 */
    --input: hsl(231 15.606936812400818% 33.92156958580017%); /* surface1 */
    --ring: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --chart-1: hsl(351 73.9130437374115% 72.9411780834198%); /* red */
    --chart-2: hsl(171 46.83544337749481% 69.01960968971252%); /* teal */
    --chart-3: hsl(220 82.8125% 74.90196228027344%); /* blue */
    --chart-4: hsl(40 69.91150379180908% 77.84313559532166%); /* yellow */
    --chart-5: hsl(105 48.25174808502197% 71.96078300476074%); /* green */
    --sidebar: hsl(233 23.076923191547394% 15.294118225574493%); /* mantle */
    --sidebar-foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --sidebar-primary: hsl(267 82.69230723381042% 79.60784435272217%); /* accent - Mauve */
    --sidebar-primary-foreground: hsl(232 23.404255509376526% 18.431372940540314%); /* base */
    --sidebar-accent: hsl(230 18.796992301940918% 26.07843279838562%); /* surface0 */
    --sidebar-accent-foreground: hsl(227 68.2539701461792% 87.64705657958984%); /* text */
    --sidebar-border: hsl(231 15.606936812400818% 33.92156958580017%); /* surface1 */
    --sidebar-ring: hsl(231 15.606936812400818% 33.92156958580017%); /* surface1 */
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
